<html>
    <head>
        
    </head>
    
    <body>
        <h1> Create New Article</h1>
        <p> Title :</p>
        <input type= "text" id =""><>
        <textarea id= "content">Add Content</textarea><br/>
        <button id ="submit">Submit</button>
        
    </body>
    
</html>